.component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 500px;
}
.image {
  height: 32px;
  border-radius: 16px;
  margin-right: 10px;
}
.bar {
  margin-left: 15px;
  margin-right: 15px;
}
